#hpContactForm {
  margin-top: rem-cal(60);
  input, textarea {
    background: $light-gray;
    border: none;
    box-shadow: none;
    &:focus {
      background: $medium-gray;
      border: none;
    }
  }
}
.graduate-radio-inputs {
  display: flex;
  label {
    &:first-child {
      margin-right: 1rem;
    }
  }
}