.main-footer {
  background-color: $primary-color;
  color: $white;
  padding: 30px 0 22px;
  box-shadow: 0 -1px 0 darken($primary-color, 10%);
  @include breakpoint(large) {
    padding: 18px 0;
  }
  .main-footer-menu {
    justify-content: flex-end;
    flex-direction: column;
    @include breakpoint(large) {
      flex-direction: row;
    }
  }
  .footer-logo-img {
    margin-bottom: 1rem;
    @include breakpoint(large) {
      margin-bottom: 0;
    }
  }
  .footer-menu-item {
    color: $white;
    display: flex;
    align-items: flex-start;
    padding-left: 0;
    @include breakpoint(large) {
      padding-left: 1rem;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  .icon-item {
    .footer-icon {
      margin-right: .5rem;
    }
  }
}
