// @keyframes menu-slide-in {
//   from { transform: translateY(-100%); }
//   to { transform: translateY(0); }
// }
.top-bar-slide-in {
	@include mui-slide(
		$state: in,
		$direction: down,
		$amount: 100%,
		$fade: true,
		$duration: 0.25s,
		$timing: ease-out,
		$delay: 0
	);
}
.site-header {
  position: sticky;
  display: block;
  top: 0;
  z-index: 9;
  background: rgba(255,255,255, 0.9);
  backdrop-filter: blur(2px);
}
#mainNav {
  .title-bar {
    button {
      margin-left: auto;
    }
  }
  .mobile-nav {
    position: relative;
    z-index: 9999;
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0;
  }
  .top-bar-right {
    margin-left: auto;
    margin-right: auto;
    flex: 0 1 auto;
    @include breakpoint(large) {
      margin-left: auto;
      margin-right: 0;
    }
  }
  .main-menu-hamburger {
    display: flex;
    align-items: center;
    padding-right: 0;
    &.is-active {
      color: $white;
    }
  }
  .menu-btn-text {
    font-size: rem-calc(12);
    text-transform: uppercase;
    font-weight: $global-weight-bold;
    margin-right: .5rem;
  }
}
  .main-menu-logo {
    
    .logo-text {
      position: absolute!important;
      clip: rect(1px,1px,1px,1px);
      width: 1px;
      height: 1px;
      overflow: hidden;
    }
    img {
      max-width: 200px;
      width: 100%;
      @include breakpoint(large){
        max-width: 250px;
      }
    }
  }
  .main-nav-link {
    font-weight: $global-weight-bold;
    transition: $button-transition;
    color: $white;
    text-align: center;
    &:focus {
      color: $white;
    }
    @include breakpoint(large) {
      color: $black;
      text-align: left;
      &:focus {
        color: $black;
      }
    }
    &.is-active {
      color: $primary-color;
    }
  }
  .main-nav-button {
    margin-top: .5rem;
    font-weight: $global-weight-medium;
    @include breakpoint(large) {
      margin-top: 0;
      margin-left: 1rem;
    }
  }

  .top-bar {
    @include breakpoint(medium down) {
      position: absolute;
      background: rgba(45, 7, 11, .98);
      backdrop-filter: blur(2px);
      height: 100vh;
      width: 100%;
      left: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      // animation-name: menu-slide-in;
      // animation-duration: 1s;
      // animation-direction: alternate;
    }
  }

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}