<footer class="main-footer">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-middle">
      <div class="cell small-12 large-4">
        <img class="footer-logo-img" src="{{root}}assets/img/cardinal-ig-footer.svg" alt="Cardinal Hood River" loading="lazy">
      </div>
      <div class="cell small-12 large-8">
        <div class="menu main-footer-menu">
          <a class="footer-menu-item icon-item" href="{{footer.gmap}}" target="_blank" rel="noopener">
            <i class="fad fa-map-marker-alt footer-icon"></i><span>{{{footer.address}}}</span>
          </a>
          <a class="footer-menu-item icon-item" href="tel:{{footer.phone}}">
            <i class="fad fa-phone-alt footer-icon"></i><span>{{footer.phone}}</span>
          </a>
          <a class="footer-menu-item icon-item" href="mailto:{{footer.email}}">
            <i class="fad fa-paper-plane footer-icon"></i><span>{{footer.email}}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>