{{!
================================================
=          TEMPLATE FOR THE MAIN NAV           =
================================================
}}
<header class="site-header sticky-element">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell small-12">

        <nav id="mainNav">

          <div class="mobile-nav" data-responsive-toggle="main-menu" data-hide-for="large">
            <div class="mobile-nav-title">
              <a href="/" class="main-menu-logo">
                <div class="logo-text">Cardinal Glass</div>
                <img src="{{root}}assets/img/cardinal-ig-hr-logo.svg" alt="">
              </a>
            </div>
            <button class="hamburger hamburger--collapse main-menu-hamburger" type="button" data-toggle="main-menu" aria-label="Menu" aria-controls="navigation">
              <span class="menu-btn-text">Menu</span>
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          </div>
          
          <div class="top-bar" id="main-menu" data-animate="top-bar-slide-in fade-out">
            <div class="top-bar-left show-for-large">
              <a href="/" class="main-menu-logo">
                <div class="logo-text">Cardinal Glass</div>
                <img src="{{root}}assets/img/cardinal-ig-hr-logo.svg" alt="">
              </a>
            </div>
            <div class="top-bar-right">
              <div class="menu vertical large-horizontal" id="mainNavMenu" data-magellan data-threshold="200">
                <a href="#why-cardinal" class="main-nav-link">Why Cardinal</a>
                <a href="#our-values" class="main-nav-link">Our Values</a>
                <a href="#jobs" class="main-nav-link">Job Openings</a>
                <a href="#contact" class="main-nav-link">Contact Us</a>
                <button id="mainNavApply" class="button round main-nav-button" data-paperform-id="ti41nau0" data-popup-button="1">Apply Now <i class="fad fa-chevron-right"></i></button>
              </div>
            </div>
          </div>

        </nav>

      </div>
    </div>
  </div>
</header>