<section id="contact">
  <div class="section-bg"></div>
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell small-12 medium-10 large-9">
        <h2 class="section-title">Get in touch</h2>
          <h3 class="weight-bold mb-25 section-heading">We can’t wait to hear from you.</h3>
          <p class="big-p">At Cardinal we believe that work should be more than just punching a clock in a clean, safe building. What sets us apart are all the little things we like to do to for our employees that keep work fun and put a little extra cash in your pocket.</p>
      </div>
    </div>
    <div class="grid-x grid-margin-x">
      <div class="cell small-12">

        <div class="grid-x grid-margin-x">
          <div class="cell small-12 large-9 large-offset-3">
            <ul class="form-tabs-nav menu" id="form-tabs" data-tabs>
              <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Apply Now</a></li>
              <li class="tabs-title"><a href="#panel2">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="form-tabs-content" data-tabs-content="form-tabs">

          <div class="tabs-panel is-active" id="panel1">
            <div class="grid-x grid-margin-x">
              <div class="cell small-12 large-3">
                <h5 class="brdr-title">Apply Now</h5>
                <p>This will be the form for applying and a message of some kind. The message and form will change if you click contact us.</p>
              </div>
              <div class="cell small-12 large-9">
                Apply Form
              </div> 
            </div>      
          </div>

          <div class="tabs-panel" id="panel2">
            <div class="grid-x grid-margin-x">
              <div class="cell small-12 large-3">
                <h5 class="brdr-title">Contact Us</h5>
                <p>This will be the form for applying and a message of some kind. The message and form will change if you click contact us.</p>
              </div>
              <div class="cell small-12 large-9">
                Contact Form
              </div> 
            </div>      
          </div>
          
        </div>
      </div>
      
    </div>
  </div>
</section>