<section id="top" class="video-hero">
  
  <video playsinline autoplay muted loop poster="{{root}}assets/img/cardinal-video-placeholder.jpg" class="hero-video">
    <source src="{{root}}assets/img/cardinal-web-mp4.mp4" type="video/mp4">
    {{!-- <source src="{{root}}assets/img/cardinal-web-webm.webm" type="video/webm"> --}}
  </video>
  <div class="grid-container fluid video-content">
    <div class="grid-x grid-margin-x align-middle align-center">
      <div class="small-12 text-center" style="max-width: 690px;">
        <div class="home-intro">
          <img src="{{root}}assets/img/cardinal.svg" alt="">
          <h1 class="">{{ hero.headline }}</h1>
          <p class="big-p mt-25">{{ hero.copy }}</p>
          <div class="menu hero-menu align-center mt-25" data-magellan>
            <a class="hero-menu-item" href="{{hero.link1}}">{{hero.cta1}} <i class="fad fa-chevron-right" data-fa-transform="down-1"></i></a>
            <a class="hero-menu-item button round" href="{{hero.link2}}">{{hero.cta2}} <i class="fad fa-chevron-right" data-fa-transform="down-1"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div> 
  
</section>