<section id="top" class="hero">
  
  <div class="section-bg"></div>
  <div class="grid-container fluid">
    <div class="grid-x grid-margin-x align-middle">
      <div class="small-12 large-6" style="max-width: 600px;">
        <div class="home-intro">
          <h1 class="mb-25">More than Just a Paycheck</h1>
          <p class="big-p mb-25">At Cardinal we believe work should be about growing opportunities. What sets us apart is what we do for our employees and customers, that keeps work fun and puts a little extra cash in your pocket.</p>
          <div class="menu hero-menu" data-magellan>
            <a class="hero-menu-item" href="#why-cardinal">View Benefits <i class="fad fa-chevron-right" data-fa-transform="down-1"></i></a>
            <a class="hero-menu-item button round" href="#our-values">Our Values <i class="fad fa-chevron-right" data-fa-transform="down-1"></i></a>
          </div>
        </div>
      </div>
      <div class="small-12 large-6">
        <div class="responsive-embed widescreen">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/WUgvvPRH7Oc" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div> 
  
</section>