<section id="jobs" data-magellan-target="jobs">
  <div class="section-bg"></div>
  <div class="grid-container">
    <div class="grid-x grid-margin-x jobs-grid-x">
      <div class="cell small-12 medium-10 large-6">
        <div class="jobs-sticky-container sticky-element">
          <h2 class="section-title">Job Openings</h2>
          <h3 class="weight-bold mb-25 section-heading">We Are Hiring.</h3>
          <p class="big-p mb-25">We enjoy what we do and value the people we work with. We believe that you can become the best version of yourself here.</p>
          <h5 class="brdr-title">Qualifications/Physical Requirements for all Openings:</h5>
          <ul class="check-list">
            {{#each jobs.qualification}}
            <li class="check-list-item"><i class="fad fa-check-circle list-item-icon"></i><span>{{ this }}</span></li>
            {{/each}}
          </ul>
        </div>
      </div>
      <div class="cell small-12 medium-10 large-5">
        {{#if jobs.job-listing}}
          {{#each jobs.job-listing}}
          <div class="job-listing">
            
            <h6>{{ title }}</h6>

            {{#each description}}
            <p>{{{ this }}}</p>
            {{/each}}

            {{#if specs}}
            <ul class="weight-medium check-list job-specs">
              {{#each specs}}
              <li class="check-list-item"><i class="fad fa-circle list-item-icon"></i><span>{{{ this }}}</span></li>
              {{/each}}
            </ul>
            {{/if}}
            <p class="weight-medium job-shift">
              {{#each shifts}}
              {{ this }}<br/>
              {{/each}}
            </p>
            <a data-paperform-id="ti41nau0" data-popup-button="1" class="apply-link"><span>Apply Now</span><i class="fad fa-chevron-right" data-fa-transform="down-1"></i></a>
          </div>
          {{/each}}
        {{/if}}
      </div>
    </div>
  </div>
</section>