<section id="why-cardinal" class="why-cardinal" data-magellan-target="why-cardinal">
  <div class="section-bg"></div>
  <div class="why-cardinal-bg-img">
    <img srcset="{{root}}assets/img/cardinal-break.png, {{root}}assets/img/cardinal-break-2x.png 2x"
    src="{{root}}assets/img/cardinal-break.png" alt="" loading="lazy">
  </div>
  <div class="grid-container">
    <div class="grid-x grid-margin-x why-cardinal-intro">
      <div class="cell small-12 why-cardinal-headline">
        <h2 class="section-title">{{why-cardinal.eyebrow}}</h2>
        <h3 class="weight-bold section-heading">{{why-cardinal.headline}}</h3>
      </div>
      <div class="cell small-12 large-6">
        <p>{{why-cardinal.copy_left}}</p>
      </div>
      <div class="cell small-12 large-6">
        <p>{{why-cardinal.copy_right}}</p>
      </div>
    </div>
    {{#if benefits}}
    <div class="grid-x grid-margin-x small-up-2 medium-up-3 large-up-4 benefit-grid">
      {{#each why-cardinal.benefit}}
      <div class="cell benefit-cell">
        <i class="{{ icon }} benefit-icon"></i>
        <h5 class="benefit-title brdr-title">{{ title }}</h5>
        <p class="benefit-description">{{ description }}</p>
      </div>
      {{/each}}
    </div>
    {{/if}}
    <div class="cell small-12 mt-4">
      <div class="grid-x grid-margin-x">
        <div class="cell small-12 large-5 small-order-2 large-order-1">
          <img src="{{root}}assets/img/vpp-logo.png" alt="oregon vpp logo" loading="lazy" width="130" height="99" style="margin-bottom:20px;">
          <h3 class="weight-bold section-heading img-headline">{{why-cardinal.safety_headline}}</h3>
          <p class="mt-25">{{why-cardinal.safety_copy}}</p>
          <p class="weight-bold">{{{why-cardinal.safety_link}}}</p>
        </div>
        <div class="cell small-12 large-7 small-order-1 large-order-2 safety-slider-cell">
          <div class="safety-slider">
            {{# each why-cardinal.slides}}
            <div>
              <img class="safety-slider-img object-fit-cover" src="{{root}}assets/img/{{ img }}" alt="{{ alt }}" loading="lazy">
            </div>
            {{/each}}  
          </div>
          <div class="safety-slider-nav"></div>
        </div>
      </div>
    </div>
  </div>
</section>