{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-TGT8V3W');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Work at Cardinal Glass Hood River</title>
    <meta name="title" content="Work at Cardinal Glass Hood River">
    <meta name="description" content="At Cardinal we believe work should be about growing opportunities. What sets us apart is what we do for our employees and customers, that keep work fun and put a little extra cash in your pocket.">
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{general.siteURL}}">
    <meta property="og:title" content="Work at Cardinal Glass Hood River">
    <meta property="og:description" content="At Cardinal we believe work should be about growing opportunities. What sets us apart is what we do for our employees and customers, that keep work fun and put a little extra cash in your pocket.">
    <meta property="og:image" content="{{general.siteURL}}assets/img/cardinal-og.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{general.siteURL}}">
    <meta property="twitter:title" content="Work at Cardinal Glass Hood River">
    <meta property="twitter:description" content="At Cardinal we believe work should be about growing opportunities. What sets us apart is what we do for our employees and customers, that keep work fun and put a little extra cash in your pocket.">
    <meta property="twitter:image" content="{{general.siteURL}}assets/img/cardinal-og.png">

    <script type="application/ld+json">
      {
        "@context": "https://schema.org/",
        "@type": "WebSite",
        "name": "Work at Cardinal Hood River",
        "url": "https://www.cardinalhoodriver.com/",
      }
      </script>
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">

    <script src="https://kit.fontawesome.com/2a8fd85864.js" crossorigin="anonymous"></script>


    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{root}}apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{root}}favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{root}}favicon-16x16.png">
    <link rel="manifest" href="{{root}}site.webmanifest">
    <link rel="mask-icon" href="{{root}}safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="theme-color" content="#ffffff">

  </head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGT8V3W"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}

  {{> main-nav}}

  {{> body}}

  {{> main-footer}}


<script src="{{root}}assets/js/app.js"></script>
</body>
</html>
